{
  "overrides": [
    {
      "files": ["**/*.js", "**/*.ts"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.sol",
      "options": {
        "printWidth": 140,
        "singleQuote": true,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    }
  ],
  "semi": false
}
